@import './minxin';

.icon__buy {
	display: flex;
	justify-content: space-evenly;
	padding: 50px;
	&-plane, &-girf, &-star{
		@media screen and (max-width: 480px){
			display: flex;
			align-items: center;
			justify-content: center;
			// margin-left: 2rem;
			border-bottom: 1px solid #d6d6d6;
			margin-bottom: 2rem;
			
		}
	}
	&-star{
		@media screen and (max-width: 480px){
			border-bottom: none;
		}
	}
	div {
		text-align: center;
		@media screen and (max-width: 480px){
			text-align: left;
		}
		i {
			font-size: 28px;
			padding-bottom: 20px;
			@media screen and (max-width: 632px){
				font-size: 20px;
			}
			@media screen and (max-width: 480px){
				font-size: 48px;
			}
		}
		.fa-plane {
			transform: rotate(315deg);
		}
		p {
			font-size: 14px;
			line-height: 20px;
			color: #1a1a1a;
			font-family: "Open Sans";
			font-weight: 400;
			@media screen and (max-width: 768px){
				width: 12em;
			}
			@media screen and (max-width: 632px){
				width: 7em;
				line-height: initial;
				font-size: 12px;
			}
			@media screen and (max-width: 480px){
				width: 13rem;
				line-height: initial;
				font-size: 20px;
				margin-left: 36px;
			}
		}
	}
	span {
		width: 1px;
		height: 60px;
		background-color: #d6d6d6;
		@media screen and (max-width: 768px){
			height: 90px;
		}
		@media screen and (max-width: 480px){
			display: none;
		}
	}
	@media screen and (max-width: 768px) {
		padding: 50px 100px;
	}
	@media screen and (max-width: 480px) {
		flex-direction: column;
		padding: 50px;
	}
}
.image__grid {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	width: 90%;
	margin: 0 auto 50px auto;
	column-gap: 15px;
	row-gap: 15px;
	img {
		width: 100%;
		height: 100%;
	}
	.image__grid-space {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 40%;
		left: 50%;
		transform: translate(-50%, 0%);
		width: 50%;
		@media screen and (max-width: 1200px) {
			bottom: 37%;
		}
		@media screen and (max-width: 1024px) {
			bottom: 32%;
		}
		@media screen and (max-width: 480px) {
			bottom: 37%;
		}
	}
	.image__grid-2 {
		.image__grid-space {
			span {
				&:nth-child(1) {
					width: 25%;
					height: 1px;
					background-color: black;
				}
				&:nth-child(3) {
					width: 25%;
					height: 1px;
					background-color: black;
				}
			}
			@media screen and (max-width: 542px) {
				font-size: 10px;
			}
			@media screen and (max-width: 480px) {
				font-size: 14px;
			}
		}
		position: relative;
		background-color: #dbe200;
		grid-column: 2/3;
		grid-row: 1/2;
		&::before {
			@include shapeLeft(#dbe200, 40px, 50px, 40px, -10%);
		}
	}
	.image__grid-4 {
		.image__grid-space {
			span {
				&:nth-child(1) {
					width: 25%;
					height: 1px;
					background-color: #ffffff;
				}
				&:nth-child(2) {
					color: #ffffff;
				}
				&:nth-child(3) {
					width: 25%;
					height: 1px;
					background-color: #ffffff;
				}
			}
			@media screen and (max-width: 542px) {
				font-size: 10px;
			}
			@media screen and (max-width: 480px) {
				font-size: 14px;
			}
		}
		position: relative;
		background-color: #ccd0e0;
		grid-column: 1/2;
		grid-row: 2/3;
		&::before {
			@include shapeRigh(#ccd0e0, 40px, 50px, 40px, -10%)
		}
	}
	.image__grid-8 {
		.image__grid-space {
			span {
				&:nth-child(1) {
					width: 25%;
					height: 1px;
					background-color: #ffffff;
				}
				&:nth-child(2) {
					color: #ffffff;
				}
				&:nth-child(3) {
					width: 25%;
					height: 1px;
					background-color: #ffffff;
				}
			}
			@media screen and (max-width: 542px) {
				font-size: 10px;
			}
			@media screen and (max-width: 480px) {
				font-size: 14px;
			}
		}
		position: relative;
		background-color: #84dcdd;
		grid-column: 3/4;
		grid-row: 3/4;
		&::before {
			@include shapeRigh(#84dcdd, 40px, 50px, 40px, -10%);
			@media screen and (max-width: 768px){
				
			}
		}
		@media screen and (max-width: 480px){
			grid-column: 1/2;
			grid-row: 7/8;
		}
	}
	.image__grid-1 {
		grid-column: 1/2;
		grid-row: 1/2;
		
	}
	.image__grid-3 {
		background-color: #ccd0e0;
		grid-column: 2/3;
		grid-row: 2/3;
	}
	.image__grid-5 {
		grid-column: 3/5;
		grid-row: 1/3;
		@media screen and (max-width: 480px){
			grid-column: 1/3;
			grid-row: 3/5;
		}
	}
	.image__grid-6 {
		grid-column: 1/3;
		grid-row: 3/5;
		@media screen and (max-width: 480px){
			grid-column: 1/3;
			grid-row: 5/7;
		}
	}
	.image__grid-7 {
		grid-column: 4/5;
		grid-row: 3/4;
		@media screen and (max-width: 480px){
			grid-column: 2/3;
			grid-row: 7/8;
		}
	}
	.image__grid-9 {
		grid-column: 3/4;
		grid-row: 4/5;
		@media screen and (max-width: 480px){
			grid-column: 1/2;
			grid-row: 8/9;
		}
	}
	.image__grid-10 {
		position: relative;
		background-color: #f682be;
		grid-column: 4/5;
		grid-row: 4/5;
		z-index: 1;
		&::before {
			@include shapeLeft(#f682be, 40px, 50px, 40px, -10%);
			z-index: -1;
		}
		@media screen and (max-width: 480px){
			grid-column: 2/3;
			grid-row: 8/9;
		}
	}
	p {
		font-size: 30px;
		color: #ffffff;
		font-family: "Roboto Slab";
		font-weight: 300;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		white-space: nowrap;
		@media screen and (max-width: 768px) {
			font-size: 18px;
		}
		@media screen and (max-width: 542px) {
			font-size: 14px;
		}
		@media screen and (max-width: 480px) {
			font-size: 21px;
		}
	}
	@media screen and (max-width: 768px) {
		grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
		width: 90%;
		column-gap: 8px;
		row-gap: 8px;
	}

	@media screen and (max-width: 480px) {
		grid-template-columns: auto auto ;
    grid-template-rows: repeat(8,minmax(100px,1fr)) ;
		width: 90%;
		column-gap: 8px;
		row-gap: 8px;
	}
}
.image__banner {
	// width: 90%;
	// margin: 0 auto;
	// padding: 30px;
	// img {
	// 	width: 100%;
	// }
	background-image: url('../../asset/heefull.jpg');
	height: 312px;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-size: contain;
	@media screen and (max-width: 1299px) {
    background-image: url('../../asset/heefull.jpg');
		width: 90%;
		margin: 0 auto
	}
	@media screen and (max-width: 768px) {
    background-image: url('../../asset/hee750.jpg');
    height: 332px;
		width: 90%;
		margin: 0 auto
	}
	@media screen and (max-width: 480px) {
		background-image: url('../../asset/hee.jpg');
		height: 302px;
	}
	
}
.product {
	background-image: url('../../asset/slid1.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: 840px;
	background-position: 50%;
	// border-bottom: 1px solid #dadada;
	// padding: 100px 0;
	position: relative;
	.product__title {
		text-align: center;
		.product__title-text {
			font-size: 18px;
			color: #c1c1c1;
			font-family: "utm-facebook-k-t";
			padding: 0 30px;
			margin: 0 30px;
			font-weight: bold;
			&:nth-child(1) {
				border-right: 1px solid #f3f5f1;
			}
			&:nth-child(3) {
				border-left: 1px solid #f3f5f1;
			}
		}
		.product__title-bold {
			font-size: 34px;
			color: #789629;
			font-family: "utm-facebook-k-t";
			font-weight: bold;
		}
	}
	.product__slack-space {
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			&:nth-child(1) {
				width: 143px;
				height: 1px;
				background-color: #cecece;
			}
			&:nth-child(2) {
				color: #cecece;
			}
			&:nth-child(3) {
				width: 143px;
				height: 1px;
				background-color: #cecece;
			}
		}
	}
	.product__tab {
		display: flex;
		flex-direction: row;
		justify-content: center;
		li {
			list-style: none;
			padding: 20px;
			a {
				font-size: 14px;
				color: #818181;
				font-family: "Open Sans";
				font-weight: 400;
				text-decoration: none;
			}
			.product__tab-green {
				color: #789629;
			}
		}
	}
	.product__slider {
		margin: 0 auto;
		position: relative;
		// .product__slider-left {
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 25px;
		// 	transform: translate(-50%,-50%);
		// }
		// .product__slider-right {
		// 	position: absolute;
		// 	top: 50%;
		// 	right: 0;
		// 	transform: translate(-50%,-50%);
		// }
	}
	.product__buy {
		text-align: center;
		button {
			font-size: 14px;
			color: #1a1a1a;
			font-family: "Open Sans";
			font-weight: 700;
			text-align: center;
			background-color: #ffffff;
			padding: 10px 24px;
			border: 2px solid #efefef;
			border-radius: 15px;
		}
		span {
			.fa-heart {
				width: 44px;
				border-radius: 15px;
				padding: 10px 0;
				color: white;
				background-color: #789629;
			}
			.fa-sync-alt {
				width: 44px;
				border-radius: 15px;
				border: 2px solid #efefef;
				padding: 10px 0;
				color: #1a1a1a;
				background-color: #ffffff;
			}
		}
	}
	@media screen and (max-width: 768px){
		background-image: url('../../asset/slide-768.jpg');
	}
	@media screen and (max-width: 480px){
		background-image: url('../../asset/slide-480.jpg');
		height: 1080px;
	}
}
.description {
	margin-top: 45px;
	width: 100%;
	height: 100px;
	.description__icon {
		display: flex;
		justify-content: center;
		ul {
			a {
				text-decoration: none;
				text-align: center;
				opacity: 0.3;
				color: #050505;
				&:hover {
					opacity: 1;
				}
			}
			.description__icon-col {
				width: 1px;
				height: 60px;
				background-color: #f3f5f1;
				transform: rotate(45deg);
				@media screen and (max-width: 768px){
					height: 30px;
				}
			}
		}
		.fab {
			font-size: 18px;
			width: 50px;
			padding: 14px 0;
			height: 50px;
			border-radius: 25px;
			background-color: rgba(193,193,193,0);
			border: 2px solid #050505;
			margin-right: 10px;
			@media screen and (max-width:768px){
				padding: 5px;
				width: 25px;
				height: 25px;
				font-size: 12px;
			}
		}
		span{
			@media screen and (max-width: 768px){
				font-size: 12px;
			}
		}
		@media screen and (max-width: 768px){
			.hid{
				display: none;
			}
		}
		@media screen and (max-width: 666px){
			.hide{
				display: none;
			}
		}
		@media screen and (max-width: 480px){
			.hidden{
				display: none;
			}
		}
	}
}
.description__icon {
	ul {
		width: 70%;
		display: flex;
		justify-content: space-evenly;
	}
}
.blog {
	width: 90%;
	margin: 0 auto;
	height: 100%;
	padding: 0 0 50px 0;
	.blog__about {
		display: grid;
		grid-template-columns: auto auto auto auto;
		column-gap: 40px;
		h3 {
			font-size: 16px;
			color: #050505;
			font-family: "Open Sans";
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			margin: 24px 0;
		}
		.blog__about-space {
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				&:nth-child(1) {
					width: 100%;
					height: 1px;
					background-color: black;
				}
				&:nth-child(2){
					padding: 0 10pxw;
				}
				&:nth-child(3) {
					width: 100%;
					height: 1px;
					background-color: black;
				}
			}
		}
		.blog__about-logo {
			font-size: 37px;
			font-family: "Thirsty Script Extrabold Demo";
			letter-spacing: 3px;
			margin: 20px 0;
			a {
				text-decoration: none;
				color: #ffffff;
				width: 54px;
				height: 54px;
				border-radius: 27px;
				background-color: #789629;
				font-weight: 800;
			}
		}
		.blog__about-review {
			font-size: 12px;
			color: #050505;
			font-family: "Open Sans";
			font-weight: 600;
			text-transform: uppercase;
			display: block;
			margin-bottom: 14px;
		}
		.blog__about-desc {
			font-size: 12px;
			line-height: 18px;
			color: #4b4b4b;
			font-family: "Open Sans";
			font-weight: 400;
			margin-bottom: 10px;
			padding-right: 30%;
		}
		.blog__about-more {
			color: #c1c1c1;
			font-size: 12px;
			cursor: pointer;
		}
		.blog__about-blog {
			img {
				width: 100%;
				margin: 20px 0;
			}
			.blog__about-desc {
				font-size: 12px;
				line-height: 18px;
				color: #4b4b4b;
				font-family: "Open Sans";
				font-weight: 400;
				margin-bottom: 10px;
				padding-right: 30%;
			}
			.blog__about-name {
				display: block;
				color: #cbcbcb;
				border-bottom: 1px solid #cbcbcb;
				padding-bottom: 14px;
			}
			.blog__about-script {
				display: flex;
				justify-content: space-between;
				margin-top: 14px;
				a {
					text-decoration: none;
					color: #cbcbcb;
					&:nth-child(1) {
						i {
							padding-left: 12px;
							font-size: 14px;
						}
					}
				}
			}
		}
		.blog__about-email {
			.blog__about-one{
				input {
					width: 100%;
					padding: 14px;
					margin: 20px 0;
					font-size: 12px;
					color: #dadada;
					font-family: "Open Sans";
					font-weight: 700;
					border: 1px solid #dadada;
				}
				p {
					font-size: 12px;
					color: #737373;
					font-family: "Open Sans";
					font-weight: 400;
					text-align: center;
				}
				button {
					font-size: 12px;
					color: #ffffff;
					font-family: "Open Sans";
					font-weight: 700;
					background-color: #000;
					padding: 12px 28px;
					border: none;
					text-transform: uppercase;
					margin: 20px auto;
					display: block;
					text-align: center;
				}
				@media screen and (max-width: 768px){
					float: left;
				}
				@media screen and (max-width: 632px){
					float: initial;
				}
			}
			
			.blog__about-two{
				.blog__about-tag {
					margin-bottom: 12px;
					span {
						font-size: 12px;
						line-height: 34px;
						color: #000;
						font-family: "Open Sans";
						font-weight: 400;
						border: 1px solid #cbcbcb;
						padding: 6px 8px;
						margin-right: 10px;
						&:hover {
							background-color: #789629;
							color: #ffffff;
							cursor: pointer;
						}
					}
					.blog__about-first {
						background-color: #789629;
						color: white;
					}
					.blog__about-last {
						border: none;
					}
				}
				.blog__about-space {
					margin-bottom: 20px;
				}
				@media screen and (max-width: 768px){
					position: absolute;
					left: 50%;
				}
				@media screen and (max-width: 632px){
					position: initial;
					left: initial;
				}
			}
		}
		@media screen and (max-width: 768px){
			grid-template-columns: auto auto;
		}
		@media screen and (max-width: 632px){
			grid-template-columns: auto;
		}
	}
}
