@import './headerNot';
@import './resetHeader';
@import './variable';
@import './font';
@import './minxin';

header{
  background-image: none;
  margin: 0 auto;
  width: initial;
  height: initial;
  background-position: initial;
  background-repeat: initial;
  nav{
    background: none;
  }
}

.breadcrumb{
  cursor: pointer;
  width: 83%;
  margin: 0 auto;
  margin-top: 16px;
  padding: 16px 0;
  border-bottom: 1px dashed $colorGray;
  span{
    font-size: 12px;
    color: $colorGrayOpaci;
    font-family: $fontOpen;
    font-weight: $fontWeigth400;
    padding-right: 8px;
    i{
      padding-left: 8px;
    }
    &:nth-child(3){
      color: $colorGreen;
      i{
        color: $colorGreen;
      }
    }
    &:nth-child(4){
      color: $colorGreen;
    }
  }
}

.bangles{
  display: flex;
  margin: 50px auto;
  width: 83%;
  img{
    width: 50%;
    @media screen and (max-width: 800px)  {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  div{
    // width: 50%;
    margin-left: 18px;
    .bangles__title{
      font-size: 21px;
      color: $colorGray59;
      font-family: $fontOpen;
      font-weight: $fontWeigth400;
      text-transform: uppercase;
      padding-top: 8px;
    }
    small{
      font-size: 13px;
      line-height: 21px;
      color: $colorGrayOpaci;
      font-family: $fontOpen;
      font-weight: $fontWeigth400;
      margin-bottom: 22px;
      display: block;
    }
    .bangles__title-price{
      font-size: 29px;
      line-height: 20px;
      color: #000000;
      font-family: $fontLobter;
      font-weight: $fontWeigth400;
      margin-bottom: 32px;
      span{
        color: #cdcdcd;
        font-size: 20px;
        padding-left: 8px;
      }
    }
    .bangles__title-description {
      font-size: 13px;
      line-height: 21px;
      color: $colorGrayOpaci;
      font-family: $fontOpen;
      font-weight: $fontWeigth400;
      margin-bottom: 28px;
    }
    .bangless__title-color{
      @include bangles();
      input{
        @include inputBangles();
      }
    }
    .bangless__title-size{
      margin-top: 20px;
      @include bangles();
      input{
        @include inputBangles();
      }
    }
    .bangless__title-count{
      margin-top: 20px;
      @include bangles();
    }
    .bangless__title-buy{
      margin-top: 14px;
      margin-left: 0;
      button{
      font-size: 14px;
      line-height: 20px;
      padding: 8px 12px;
      color: #1a1a1a;
      font-family: $fontOpen;
      font-weight: 700;
      text-align: center;
      background-color: transparent;
      border: 2px solid #e6e6e6;
      border-radius: 15px;
      }
      span{
        margin-left: 15px;
        font-size: 14px;
        line-height: 20px;
        color: #1a1a1a;
        font-family: $fontOpen;
        font-weight: 700;
        text-align: center;
        &:nth-last-child(1){
          background-color: #ffffff;
          padding: 8px 12px;
          color: #000;
          border-radius: 12px;
          border: 2px solid #e6e6e6;
        }
        &:nth-last-child(2){
          background-color: $colorGreen;
          padding: 8px 12px;
          color: #ffffff;
          border-radius: 12px;
        }
        @media screen and (max-width: 1090px) {
          margin-left: 0;
        }
        @media screen and (max-width: 800px) {
          margin-left: 8px;
        }
      }
      // @media screen and (max-width: 1090px) {
      //     margin-left: 0;
      // }
    }
    .bangless__title-return{
      margin-top: 30px;
      margin-left: 0;
      font-size: 12px;
      line-height: 20px;
      color: #818181;
      font-family: $fontOpen;
      font-weight: $fontWeigth400;
      display: flex;
      align-items: center;
      span{
        white-space: nowrap;
        span{
          color: #c72527;
          white-space: nowrap;
        }
      }
      img{
        margin-left: 21px;
        width: 65%;
      }
    }
  }
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.ring{
  width: 83%;
  margin: 20px auto;
  display: grid;
  column-gap: 25px;
  grid-template-columns: auto auto;
  &__title{
    &-left{
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 12px;
      span{
        @include ringSp(24px);
        text-transform: uppercase;
        letter-spacing: -2px;
        white-space: nowrap;
        &:nth-child(2){
          @include ringSpan();
        }
        &:nth-child(3){
          @include ringSpan();
        }
        @media screen and (max-width: 1090px)  {
          @include ringSp(18px);
        }
        @media screen and (max-width: 1054px)  {
          @include ringSp(16px);
        }
      }
    }
    &-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 3rem;
      img{
        @media screen and (max-width: 1090px)  {
          width: 50%;
        }
      }
      .ring__title-text{
        h5{
          font-size: 21px;
          line-height: 18px;
          color: #3e3e3e;
          font-family: $fontOpen;
          font-weight: $fontWeigth400;
          white-space: nowrap;
          @media screen and (max-width: 1024px){
            font-size: 16px;
          }
        }
        p{
          margin-top: 2em;
          color: #818181;
          font-family: $fontOpen;
          font-weight: $fontWeigth400;
          @media screen and (max-width: 1090px)  {
            font-size: 12px;
          }
        }
        span{
          display: inline-block;
          background-color: #e6e6e6;
          width: 13%;
          height: 1px;
        }
        &:nth-child(odd){
        @media screen and (max-width: 480px)  {
          order: 2;
        }
        }
        @media screen and (max-width: 480px)  {
          margin-top: 35px;
        }
      }
      &:nth-child(odd){
        text-align: right;
        @media screen and (max-width: 480px)  {
          align-items: flex-end;
        }
      }
      
      @media screen and (max-width: 480px)  {
        flex-direction: column;
        align-items: baseline;
      }
    }
  }
  &__buy{
    &-title{
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 12px;
      span{
        @include ringSp(24px);
        text-transform: uppercase;
        @media screen and (max-width: 1090px)  {
          @include ringSp(18px);
        }
        @media screen and (max-width: 854px)  {
          @include ringSp(16px);
        }
      }
    }
    &-desc{
      display: flex;
      border-bottom: 1px dashed #e6e6e6;
      // align-items: center;
      margin-top: 28px;
      div{
        h4{
          font-size: 13px;
          line-height: 20px;
          color: #000000;
          font-family: $fontOpen;
          font-weight: $fontWeigth400;
        }
        i{
          font-size: 11px;
          letter-spacing: 3px;
          line-height: 20px;
          color: #131313;
          span{
            color: #989898;
            letter-spacing: initial;
            font-family: $fontOpen;
            font-weight: $fontWeigth400;
          }
        }
        p{
          font-size: 14px;
          line-height: 20px;
          color: #000000;
          font-family: $fontLobter;
          font-weight: $fontWeigth400;
        }
      }
      &:nth-last-child(1){
        border: none;
      }
      &:nth-child(4){
        border: none;
      }
    }
    .two{
      margin-top: 50px;
      span{
        text-transform: uppercase;
        @media screen and (max-width: 1090px)  {
          @include ringSp(18px);
        }
        @media screen and (max-width: 854px)  {
          @include ringSp(16px);
        }
      }
    }
    @media screen and (max-width: 800px)  {
      display: none;
    }
  }
}