body{
  opacity: 0.3;
  background-color: #7f7f7f;
  header{
    height: 850px;
  }
}

main{
  background-color: #ffffff;
}

html::before{
  content: url('../../asset/circle.png');
  position: absolute;
  overflow: hidden;
  z-index: 3;
  left: 30%;
  top: 30%;
  }