@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("//db.onlinewebfonts.com/c/596c42be7e74061b11d9762459717f80?family=Thirsty+Script+Extrabold+Demo");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("//db.onlinewebfonts.com/c/3dd6e9888191722420f62dd54664bc94?family=Myriad+Pro");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap");
header {
  background-image: none;
  margin: 0 auto;
  width: initial;
  height: initial;
  background-position: initial;
  background-repeat: initial;
}

header nav {
  background: none;
}

@font-face {
  font-family: "utm-facebook-k-t";
  src: url("https://candyfonts.com/wp-data/2018/10/26/11310/UTM FacebookR K-T.ttf") format("woff"), url("https://candyfonts.com/wp-data/2018/10/26/11310/UTM FacebookR K-T.ttf") format("opentype"), url("https://candyfonts.com/wp-data/2018/10/26/11310/UTM FacebookR K-T.ttf") format("truetype");
}

.breadcrumb {
  border-bottom: 1px dashed #e7e7e7;
}

.breadcrumb span:nth-child(1) i {
  color: #789629;
}

.breadcrumb span:nth-child(2) {
  color: #789629;
}

.register {
  width: 83%;
  margin: 20px auto;
}

.register h3 {
  color: #212121;
  font-size: 28px;
  margin-bottom: 2rem;
  font-family: "Open Sans";
  font-weight: 400;
}

.register__form {
  background-color: #f2f2f2;
  padding: 50px;
}

.register__form-person h4 {
  font-family: "Open Sans";
  font-weight: 400;
  color: #202020;
  font-size: 18px;
  margin-bottom: 1rem;
}

.register__form-person p {
  color: #000000;
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 400;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.register__form-person input {
  width: 100%;
  padding: 6px;
  border: 1px solid #e0e0e0;
  margin-bottom: 0.5rem;
}

.register__form-person span {
  color: #000000;
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 400;
  font-weight: 600;
  margin-left: 1rem;
  margin-bottom: 3rem;
  display: block;
}

.register__form-login h4 {
  font-family: "Open Sans";
  font-weight: 400;
  color: #202020;
  font-size: 18px;
  margin-bottom: 1rem;
}

.register__form-login p {
  color: #000000;
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 400;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.register__form-login input {
  width: 100%;
  padding: 6px;
  border: 1px solid #e0e0e0;
  margin-bottom: 0.5rem;
}

.register__form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.register__form-button button {
  color: #ffffff;
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: #000;
  border: 0;
  padding: 8px 12px;
}

.register__form-button button .fa-long-arrow-alt-left {
  font-size: 18px;
  margin-right: 8px;
}

.register__form-button button .fa-long-arrow-alt-left span {
  color: #ffffff;
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 400;
}
/*# sourceMappingURL=register.css.map */