@import '../../components/headerNot';
@import '../../common/resetHeader';
@import '../../common/variable';
@import '../../common/font';
@import '../../common/minxin';


.breadcrumb{
  border-bottom: 1px dashed #e7e7e7;
  span{
    &:nth-child(1){
      i{
        color: #c72527;
      }
    }
    &:nth-child(2){
      color: #c72527;
    }
  }
}


.cart{
  width: 83%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  @media screen and (max-width:768px) {
    overflow-y: scroll;
  }
    h3{
      @include fontSizeAndColor(28px, #212121);
      margin-bottom: 2rem;
      @include fontAndWeight($fontOpen)
    }
    &__table{
      width: 100%;
      border-collapse: collapse;
      tr{
        th{
          @include fontAndWeight($fontLato);
          @include fontSizeAndColor(12px,#202020);
          background-color: #f9f9f9;
          border: 1px solid #e7e7e7;
          padding: 12px ;
          font-weight: 700;
        }
        td{
          border: 1px solid #e7e7e7;
          text-align: center;
          padding: 10px;
          @include fontAndWeight($fontOpen);
          @include fontSizeAndColor(13px,#212121);
          // .cart__table-order{
          //   @include fontAndWeight($fontOpen);
          //   @include fontSizeAndColor(14px,#202020);
          // }
          .cart__table-name{
            @include fontAndWeight($fontOpen);
            @include fontSizeAndColor(13px,#212121);
            white-space: nowrap;
          }
          .cart__table-price{
            // @include fontAndWeight($fontLobter);
            // @include fontSizeAndColor(13px,#212121);
            position: relative;
            span{
              position: absolute;
              top: -1px;
              left: 47px;
              font-size: 10px;
            }
          }
          .cart__table-quantity{
            padding: 7px 12px;
            background: transparent;
            @include fontSizeAndColor(14px,#de2b2b);
            // @include fontAndWeight($fontRoboto);
          }
          i{
            font-size: 25px;
          }
        }
      }
    }

  &__right{
    h5{
      @include fontSizeAndColor(14px,#212121);
      font-family: $fontOpen;
      font-weight: 600;
      margin-top: 1rem;
      padding-bottom: 2.1rem;
      border-bottom: 1px solid #e7e7e7;
      display: inline-block;
      width: 50%;
    }
    &-desc{
      .cart__right-name{
        @include flexTop1R();
        @include fontSizeAndColor(20px,#212121);
        @include fontAndWeight($fontOpen);
        i{
          @include fontSize18AndMG();
        }
        p{
          margin-top: -8px;
          span{
            display: inherit;
            font-size: 14px;
          }
        }
      }
      .cart__right-local{
        @include flexTop1R();
        @include fontSizeAndColor(14px,#212121);
        @include fontAndWeight($fontOpen);
        i{
          @include fontSize18AndMG();
        }
      }
      .cart__right-phone{
        @include flexTop1R();
        @include fontSizeAndColor(14px,#212121);
        @include fontAndWeight($fontOpen);
        i{
          display: inline-block;
          transform: rotate(90deg);
          @include fontSize18AndMG(); 
        }
      }
    }
  }
  @media screen and (max-width: 768px){
    grid-template-columns: none;
  }
}
