@import "../../components/headerNot";
@import "../../common/resetHeader";
@import "../../common/variable";
@import "../../common/font";

.grid {
  &__list {
    &-left {
      font-size: 18px;
      @media screen and (max-width: 850px) {
        font-size: 14px;
      }
    }
  }
  .left2 {
    span {
      font-size: 18px;
      @media screen and (max-width: 850px) {
        font-size: 14px;
      }
    }
  }
  .grid__list-tagTitle {
      font-size: 18px;
    @media screen and (max-width: 850px) {
      font-size: 14px;
    }
  }
  &__products {
    &-menu {
      font-size: 18px;
      @media screen and (max-width: 850px) {
        font-size: 14px;
      }
    }
    &-image {
      .grid__products-threeImage {
        .grid__products-imageRows {
          display: flex;
          align-items: center;
          img {
            width: 100%;
            @media screen and (max-width: 850px) {
              width: 50%;
            }
          }
          .gird__products-main {
            text-align: left;
            margin-left: 2rem;
            h6 {
              font-size: 18px;
              line-height: 35px;
              color: #000000;
              font-family: $fontOpen;
              font-weight: $fontWeigth400;
              @media screen and (max-width: 950px) {
                font-size: 16px;
              }
            }
            .grid__products-heart {
              .fa-heart {
                margin-right: 4px;
              }
              @media screen and (max-width: 950px) {
                font-size: 12px;
              }
            }
            .grid__products-text {
              color: #bebebe;
              margin-left: 1rem;
              font-family: $fontOpen;
              @media screen and (max-width: 950px) {
                font-size: 12px;
              }
            }
            .grid__products-content {
              margin-top: 1rem;
              line-height: 18px;
              color: #666666;
              font-family: $fontOpen;
              font-weight: $fontWeigth400;
              @media screen and (max-width: 950px) {
                font-size: 12px;
              }
            }
            .image__products-price {
              margin-top: 2rem;
              display: inline-block;
              color: #000000;
              font-size: 24px;
              font-family: $fontLobter;
              font-weight: $fontWeigth400;
              @media screen and (max-width: 950px) {
                font-size: 20px;
                margin-top: 1rem;
              }
            }
            .grid__products-count {
              text-align: left;
              display: initial;
              .grid__products-buy {
                button {
                  @media screen and (max-width: 885px) {
                    padding: 4.5px 6px;
                  }
                  @media screen and (max-width: 768px) {
                    padding: 9px 12px;
                  }
                }
                span {
                  &:nth-child(2) {
                    @media screen and (max-width: 885px) {
                      padding: 4px 6px;
                      margin-left: 2px;
                    }
                    @media screen and (max-width: 768px) {
                      padding: 8px 12px;
                      margin-left: 8px;
                    }
                  }
                  &:nth-last-child(1) {
                    @media screen and (max-width: 885px) {
                      padding: 4px 6px;
                      margin-left: 2px;
                    }
                    @media screen and (max-width: 768px) {
                      padding: 8px 12px;
                      margin-left: 4px;
                    }
                  }
                }
              }
              @media screen and (max-width: 950px) {
                margin: 0 0 26px 0;
              }
              @media screen and (max-width: 768px) {
                display: initial;
              }
            }
            @media screen and (max-width: 950px) {
              margin-left: 0;
            }
          }
          @media screen and (max-width: 570px) {
            flex-direction: column;
          }
        }
      }
    }
  }
}
