section.breadcrumb
  span Home <i class="fas fa-angle-right"></i>
  span Về chúng tôi
section.about
  h3 VỀ CHÚNG TÔI
  .about__content
    .about__content-image
      img(src="../../asset/about-us.jpg", alt="")
    .about__content-text
      .about__content-logo
        a(href='#') M
        span adala
      h4 Giới thiệu chung về mỹ phẩm handmade Mandala
      p Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.  
      span.about__content-more Xem thêm
