section.breadcrumb
  span Home <i class="fas fa-angle-right"></i>
  span Sản phẩm <i class="fas fa-angle-right"></i>
  span Trang sức
section.cart
  h3 GIỎ HÀNG
  table.cart__table
    tr
      - let listTable = ["Ảnh", "Tên sản phẩm", "Giá", "Số Lượng", "Tổng số", "Xóa"]
      each list in listTable 
        th= list
    mixin list(price, quantity)
      tr
        td 
          img(src="../../asset/shopping-cart.jpg", alt="")
        td
          p.cart__table-name Lắc tay D & G
        td 
          span.cart__table-price 345.000
            span đ
        td 
          button.cart__table-quantity= quantity
        td 
          span.cart__table-price=price
            span đ
        td
          i.far.fa-trash-alt
    +list('350.000',1)
    +list('690.000',2)

  .cart__button
    - let itemButton = ["tiếp tục mua hàng", "xóa", "cập nhật"]
    each item in itemButton
      span= item