doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
    link(rel='stylesheet', href='../../scss/page404.css')
    title Document
  body
    main
      section.pageError
        img(src="../../asset/page-404.jpg", alt="")
      section.pageText
        p Đây không phải là trang web bạn đang tìm kiếm
      section.pageInput
        input(type="text") 
        i.fas.fa-search
      section.pageContact
        span Liên hệ
        span Trang chủ